body { font-size:62.5%; background:url(../img/clouds-bkg.jpg) top center no-repeat #f8f2e2; }

p { font-size:1.4em; margin:0 0 1em 0; }
a { color:#bc2026; text-decoration:none; }
a:hover { text-decoration:underline; }

h2 { margin:0 0 1em 0; }

.clear-both { clear:both; }

#page-wrapper { width:980px; margin:0 auto; }
#page { background:#040707; padding:0px 20px 20px; }

#header { height:80px; }
#header h1 { background:url(../img/logo.jpg) top left no-repeat; width:300px; height:80px; text-indent:-9999em; float:left; margin:0; padding:0; }
#header h1 a { display:block; width:300px; height:80px; }

#navigation { width:640px; float:right; text-align:right; font-size: 1.4em; margin-top:35px; }
#navigation ul {  }
#navigation ul li { background:url(../img/nav-bullet.gif) 0% 50% no-repeat; padding:0px 5px 0px 15px; }
#navigation ul li.first { background:none; }
#navigation ul li a { color:#f8f2e2; text-transform:uppercase; text-decoration:none; }
#navigation ul li a:hover { text-decoration:underline; }

#sidebar-first { width:300px; float:left; margin:20px 20px 0px 0px; overflow:hidden; background:#040707; color:#f8f2e2; }
#sidebar-second { width:300px; float:right; margin:20px 0px 0px 20px; overflow:hidden; background:#040707; color:#f8f2e2; }

#content { margin:20px 0px; padding:0px; background:#f8f2e2; }

.no-sidebars #content { padding:20px 20px; }
.sidebar-first #content { float:right; width:580px; padding:0px 20px; overflow:hidden; }
.sidebar-second #content { float:left; width:580px; padding:0px 20px; overflow:hidden; }

#footer { width:940px; position:relative; overflow:hidden; padding-bottom:50px; margin-bottom:25px; }

#footer #social_media { width:915px; background:#f8f2e2; padding:20px 20px 0px 5px; }

#footer #social_media .latest_tweet { width:280px; height:182px; padding-left:15px; margin-bottom:5px; float:left; background:url(../img/twitter_horn.jpg) bottom left no-repeat; }
#footer #social_media .latest_tweet h2 { margin:0; text-indent:-9999em; width:170px; height:19px; background:url(../img/latest_tweet_title.jpg) top left no-repeat; }
#footer #social_media .latest_tweet p { font-size:1.4em; padding:10px 0px 0px 80px; }
#footer #social_media .latest_tweet a { color:#bc2026; text-decoration:none; }
#footer #social_media .latest_tweet a:hover { text-decoration:underline; }

#footer #social_media .facebook_block { width:280px; float:left; margin:0px 20px 20px 40px; }
#footer #social_media .facebook_block h2 { margin:0px 0px 16px 0px; text-indent:-9999em; width:206px; height:19px; background:url(../img/connect_title.jpg) top left no-repeat; }
#footer #social_media .facebook_block .facebook_block_like { background:url(../img/facebook_bkg.jpg) top left no-repeat; width:280px; height:132px; position:relative; }
#footer #social_media .facebook_block .facebook_block_like p { display:none;}
#footer #social_media .facebook_block .facebook_block_like .fb-like { position:absolute; top:87px; left:20px; }

#footer #social_media .twitter_block { width:280px; height:132px; margin:35px 0px 20px 0px; float:left; background:url(../img/twitter_bkg.jpg) top left no-repeat; position:relative; }
#footer #social_media .twitter_block p { display:none; }
#footer #social_media .twitter_block .twitter_buttons { position:absolute; top:87px; left:20px; }

#hk_logo { position:absolute; bottom:0px; left:0px; }
#footer_logo { position:absolute; bottom:0px; right:0px; }

/* Sub menus */

#sidebar-first ul.menu { list-style:none; margin:0px 0px 20px 0px; padding:0; font-size:1.6em; }
#sidebar-first ul.menu li { padding:0; margin:0; }
#sidebar-first ul.menu li a { color:#f8f2e2; }
#sidebar-first ul.menu li a:hover { }

#sidebar-first ul.menu li a.active { color:#bc2026; }
 

/* Blocks */

/* Title banner block */
#title-banner { width:940px; height:289px; display:block; background:url(../img/title-banner-img.jpg) top left no-repeat; overflow:hidden; position:relative; }
#title-banner .content { display:none; }
#title-banner .tickets-link { position:absolute; bottom:20px; right:20px; display:block; }
#title-banner .tickets-link a { text-indent:-9999em; display:block; width:198px; height:85px; background:url(../img/tickets-link.jpg) top left no-repeat; }

/* Main block */
#block-system-main { margin-top:20px;}

/* Sidebar picture blocks */
.sidebar .block img {  }
.sidebar .block p { margin:0 0 1em 0; font-size:1.4em; }

/*Orchestra list block*/
#block-block-3 p { margin:0; padding-top:20px; }

/* Footer text block */
#block-block-4 p { font-size:1.4em; color:#f8f2e2; margin:25px 0px 50px; }
#block-block-4 a { color:#f8f2e2; text-decoration:none;  }
#block-block-4 a:hover { text-decoration:underline;  }

/* End Blocks */