body { min-width:320px; -webkit-text-size-adjust: none; font-size:62.5%; background:#000000; margin:0; }

p { font-size:1.8em; margin:0 0 1em 0; }
a, a:visited { color:#bc2026; text-decoration:none; }
a:hover { text-decoration:underline; }

h2 { margin:0 0 1em 0; font-size:1.8em; }

.clear-both { clear:both; }

#page-wrapper { margin:25px 50px; overflow:hidden; padding-bottom:25px; }

#header { margin-bottom:25px; overflow:hidden; }
#header h1 { background:url(../img/logo.png) top left no-repeat; width:159px; height:59px; text-indent:-9999em; float:left; margin:0; padding:0; }



#header h1 a { display:block; width:160px; height:59px; }

#menu-button { float:right; }
#menu-button a { display:block; width:136px; height:64px; background:url(../img/menu-button.png) top left no-repeat; text-indent:-9999em; }
#menu-button a.active { background-position:bottom left; }

#main-wrapper { background:#f8f2e2; }

#main #content { margin:0px 35px; border-bottom:5px solid #000000;  padding:30px 0px 12px; }
.front #main #content { border-top:5px solid #000000; }

#navigation { display:none; width:540px; height:auto; overflow:hidden; margin-bottom:30px; }
#navigation ul { font-size:2.1em; font-weight:normal; text-transform:uppercase; }
#navigation ul li { display:block; padding:30px 0px; border-bottom:1px solid #f8f2e2; }
#navigation ul li.first { padding-top:5px; }
#navigation ul li a { color:#f8f2e2; }

#footer { position:relative; background:#000000; color:#f8f2e2; }
#footer p { font-size:1.2em; }

.node .submitted { display:none; }
.node-type-people h2 { margin-bottom:0.4em; }
.node-type-people .field-name-field-subtitle { font-size:1.4em; font-weight:bold; margin-bottom:0.4em; }

/* Blocks */

/* Title banner block */
#title-banner { width:540px; height:750px; display:block; background:url(../img/title-banner-img.jpg) top left no-repeat; overflow:hidden; position:relative; }
#title-banner .content { display:none; }
#title-banner .tickets-link { position:absolute; bottom:52px; right:35px; display:block; }
#title-banner .tickets-link a { text-indent:-9999em; display:block; width:235px; height:64px; background:url(../img/tickets-link.png) top left no-repeat; }
.not-front #title-banner { display:none; }


#footer #social_media { background:#f8f2e2; padding:30px 35px 40px; }

#footer #social_media .latest_tweet {  }
#footer #social_media .latest_tweet h2 { text-indent:-9999em; background:url(../img/latest_tweet_title.png) top left no-repeat; }
#footer #social_media .latest_tweet p { font-size:1.4em; font-weight:bold; padding:0px; color:#000000; }
#footer #social_media .latest_tweet a { color:#bc2026; text-decoration:none; }
#footer #social_media .latest_tweet a:hover { text-decoration:underline; }

#footer #social_media .facebook_block { }
#footer #social_media .facebook_block h2 { text-indent:-9999em; background:url(../img/connect_title.png) top left no-repeat; }
#footer #social_media .facebook_block .facebook_block_like { background:url(../img/facebook_bkg.png) top left no-repeat; width:470px; height:239px; position:relative; }
#footer #social_media .facebook_block .facebook_block_like p { display:none; }
#footer #social_media .facebook_block .facebook_block_like .fb-like { position:absolute; top:150px; left:40px; }


#footer #social_media .twitter_block { width:470px; height:239px; background:url(../img/twitter_bkg.png) top left no-repeat; position:relative; clear:right; margin-top:20px; }
#footer #social_media .twitter_block p { display:none; }
#footer #social_media .twitter_block .twitter_buttons { position:absolute; top:150px; left:40px; }

#footer #block-block-4 { width:540px; margin-top:30px; }
#block-block-4 p { font-size:1.4em; color:#f8f2e2; margin:25px 0px 50px; }
#block-block-4 a { color:#f8f2e2; text-decoration:none;  }
#block-block-4 a:hover { text-decoration:underline;  }

#footer_logo { margin-top:30px; }

.views-field-title { font-size:1.4em; font-weight:bold; margin-bottom:0.2em;  }
.views-field-field-subtitle { font-size:1.2em; font-weight:bold; margin-bottom:0.2em;  }


/* Retina stuff */

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2) {
    p { font-size:1.2em; margin:0 0 1em 0; }
    #page-wrapper { margin:12px 25px; }
    #header { margin-bottom:12px;  }
    #header h1 { width:80px; height:30px; background-size:80px 30px; }
    #navigation { width:270px; margin-bottom:15px; }
    #navigation ul li { padding:15px 0px; }
    #navigation ul li.first { padding-top:3px; }
    #menu-button a { width:68px; height:32px; background-size:68px 64px; }
    #title-banner { width:270px; height:375px; background-size:270px 375px; }
    #title-banner .tickets-link { bottom:26px; right:17px; }
    #title-banner .tickets-link a { width:117px; height:32px; background-size:117px 32px; } 
    
    #main #content { margin:0px 17px; border-bottom:3px solid #000000;  padding:15px 0px 6px; }
    .front #main #content { border-top:3px solid #000000; }
    #footer #social_media { padding:15px 17px 20px; }
    #footer #social_media .latest_tweet h2,
    #footer #social_media .facebook_block h2 { height:11px; width:auto; background-size:auto 11px; }
    #footer #social_media .facebook_block .facebook_block_like ,
    #footer #social_media .twitter_block { width:235px; height:119px; background-size:235px 119px; }
    #footer #social_media .facebook_block .facebook_block_like .fb-like,
    #footer #social_media .twitter_block .twitter_buttons { top:75px; left:20px; }
    #footer #block-block-4 { margin-top:15px; width:270px; }
    #footer_logo { margin-top:15px; width:80px; height:auto; }
    #footer_logo img { width:80px; height:auto; }
}